*.o
*.a
Gerber*.zip
gerber*.zip
*.lst
*.po
Ignore/
bootpg/bin
eprom/bin
utilities/bin
utilities/*/bin
dsk/*
DANII_Release_v*.zip

# Exclude the "no bootloader" hex file:
Apple2Arduino/bin/*

# Eclipse project
.project

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*-backups
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
.bash_history

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

