*.o
*.a
Gerber*.zip
gerber*.zip
*.lst
*.po
Ignore/
bootpg/bin
eprom/bin
utilities/eeprom/bin/*
utilities/ipconfig/bin/*
utilities/fwupdate/bin/*

# Exclude the "no bootloader" hex file:
Apple2Arduino/Apple2Arduino.ino.standard.hex

# Eclipse project
.project

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*-backups
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

